Monitor Dolar Oficial-Blue.json
{
  "name": "Monitor Dolar Oficial-Blue",
  "nodes": [
    {
      "parameters": {
        "url": "https://dolarapi.com/v1/dolares",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -240,
        -336
      ],
      "id": "8d6f29fb-c503-4146-b595-73b7269ae9ff",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst cotizaciones = items.map(item => item.json);\n\nconst oficial = cotizaciones.find(c => c.casa === 'oficial');\nconst blue = cotizaciones.find(c => c.casa === 'blue');\n\nconst brecha = blue.venta - oficial.venta;\nconst brechaPorcentaje = ((blue.venta - oficial.venta) / oficial.venta) * 100;\n\nconst fecha = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    fecha: fecha,\n    oficial_compra: oficial.compra,\n    oficial_venta: oficial.venta,\n    blue_compra: blue.compra,\n    blue_venta: blue.venta,\n    brecha: Math.round(brecha * 100) / 100,\n    brecha_porcentaje: Math.round(brechaPorcentaje * 100) / 100\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        -336
      ],
      "id": "19cdf895-1716-4c9d-bb46-d89cff84d2f2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wYE6FdzEcRR1dmE3R97_I0FN0dsVsS2t4j7RE-zuLPc",
          "mode": "list",
          "cachedResultName": "Monitor_Dolar_Oficial_Blue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wYE6FdzEcRR1dmE3R97_I0FN0dsVsS2t4j7RE-zuLPc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Historico",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "oficial_compra",
              "displayName": "oficial_compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "oficial_venta",
              "displayName": "oficial_venta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "blue_compra",
              "displayName": "blue_compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "blue_venta",
              "displayName": "blue_venta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "brecha",
              "displayName": "brecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "brecha_porcentaje",
              "displayName": "brecha_porcentaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        -336
      ],
      "id": "17736cc5-62d8-4f2e-bd35-7b1563804381",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AIR5qWjHx1tTg0PY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            },
            {
              "triggerAtHour": 16
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        -336
      ],
      "id": "3a7314c4-ac2b-4b56-a433-272927c2443a",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "76209946-045f-4614-810c-5ebbd05c9a3d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b29b5192083a3580bb912e6c6da18033f8f7f9319f07ba4f33ff795354023f5a"
  },
  "nodeGroups": [],
  "id": "vvQN2Y1OdpTHxe8D",
  "tags": []
}